@page "/"
@inject AppState AppState
@implements IDisposable

<MudText Typo="Typo.h5">Json Viewer</MudText>

@if (AppState.JsonObjects.Count == 0)
{
    <p>Upload a Json</p>
}
else
{
    <MudTreeView Items="@AppState.JsonObjects" MaxHeight="100%" Width="100%">
        <ItemTemplate>
            <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.Children">
                <Content>
                    <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChild" />
                    <MudText>@context.Bla</MudText>
                </Content>
            </MudTreeViewItem>
        </ItemTemplate>
    </MudTreeView>
}

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}